.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: black;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color:black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

.specialFaresContainer {
  width: 100%;
  margin-top: 13px ;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items:center ;
}

.specialFaresText {
  font-weight: bold;
  margin-bottom: 10px;
}

.specialFaresOptions {
  display: flex;
  gap: 10px;
}

.specialFareButton {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.specialFareButton.selected {
  border-color: #0071c2;
  background-color: #e7f3ff;
  color: #0071c2;
}

.specialFareButton:hover {
  border-color: #0071c2;
}
/* Tooltip styles */
.specialFareButton:hover::after {
  content: attr(data-tooltip);
  background-color: lightgray;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: calc(100% + 5px); /* Position the tooltip below the button */
  left: 50%;
  transform: translateX(-50%);
  max-width: 150px; /* Adjust as needed */
  width: max-content;
  white-space: normal; 
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  font-size:x-small;
}

.specialFareButton:hover::before {
  content: '';
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #0071c2 transparent transparent transparent;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.specialFareButton:hover::after,
.specialFareButton:hover::before {
  opacity: 1;
}